// Colours

$primary-color-1: #323232;
$primary-color-2: #afafaf;
$primary-color-3: #ffffff;

$secondary-color-1: #000000;
$secondary-color-2: #e1e1e1;
$secondary-color-3: #fafafa;

$tablet-min-width: 768px;
$desktop-min-width: 1280px;
