@use './variables' as *;
@use './fonts' as *;
@use './resets' as *;
@use './mixins' as *;

.header {
  background-color: $primary-color-1;
  color: $primary-color-3;

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    padding-top: 1rem;
    justify-content: center;

    @include tablet-and-desktop {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      padding: 1rem 3.6rem 0 3.6rem;
    }
  }

  &__title {
    align-self: center;
    font-size: 2.4rem;
    height: 2.2rem;
    font-weight: 700;
    max-width: 12rem;
    max-height: 2rem;
    padding-bottom: 2rem;

    @include tablet-and-desktop {
      padding-bottom: 0;
    }
  }

  &__nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: $primary-color-1;

    @include tablet-and-desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: flex-end;
      width: 30%;
      height: 100%;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $primary-color-3;
    display: flex;
    justify-content: center;
  }

  &__nav-item {
    font-size: 1.4rem;
    height: 2.2rem;
    font-weight: 600;
    height: 100%;
    min-height: 5vh;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 1rem 0 0.5rem 0;
    color: $secondary-color-2;

    @include tablet-and-desktop {
      width: 30%;
      height: 100%;
      padding-top: 5rem;
    }
  }

  &__nav-item--active {
    border-bottom: 0.5rem solid $primary-color-3;
    color: $primary-color-3;
  }

  &__nav-item--inactive {
    color: $secondary-color-2;
  }
}

// Footer styling

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: $primary-color-3;
  background-color: $primary-color-1;
  padding: 0 1.6rem;

  @include tablet-and-desktop {
    padding: 0rem 3.6rem;
  }

  &__wrapper {
    @include tablet-and-desktop {
      position: relative;
      width: 100%;
      padding: 0 2rem;
      max-width: 1280px;
      margin: auto;
    }
  }

  &__intro {
    @include tablet-and-desktop {
      display: flex;
      justify-content: flex-start;
      width: 55%;
      column-gap: 0.5rem;
    }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;

    @include tablet-and-desktop {
      font-size: 3.6rem;

      line-height: 4.4rem;
      width: 63%;
    }
  }

  &__icons {
    width: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet-and-desktop {
      width: 37%;
      padding-top: 3rem;
    }
  }

  &__icons-item {
    @include tablet-and-desktop {
      height: 40%;
    }
  }

  &__sub-title {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 600;

    @include tablet-and-desktop {
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 700;
    }
  }

  &__text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;

    @include tablet-and-desktop {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__logo {
    width: 25%;
    padding-top: 5rem;
    padding-bottom: 1rem;

    @include tablet-and-desktop {
      position: absolute;
      right: 0rem;
      top: 0rem;
      padding: 3rem;
      height: 3rem;
      width: 15%;
    }
  }

  &__text-blocks {
    @include tablet-and-desktop {
      display: flex;
      justify-content: flex-start;
      column-gap: 9%;
    }
  }

  &__text-block {
    @include tablet-and-desktop {
      width: 30%;
    }
  }
}
