@use './variables.scss' as *;
@use './fonts.scss' as *;
@use './resets.scss' as *;
@use './mixins.scss' as *;

.header {
  background-color: $primary-color-black;
  color: $primary-color-white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    padding-top: 1rem;
    justify-content: center;

    @include tablet-and-desktop {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      padding: 1rem 3.6rem 0 3.6rem;
    }
  }

  &__title {
    align-self: center;
    font-size: 2.4rem;
    height: 2.2rem;
    font-family: NunitoSansBold;
    max-width: 12rem;
    max-height: 2rem;
    padding-bottom: 2rem;

    @include tablet-and-desktop {
      padding-bottom: 0;
    }
  }

  &__nav-bar {
    display: flex;
    justify-content: space-around;

    @include tablet-and-desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: flex-end;
      width: 30%;
      height: 100%;
    }
  }

  &__nav-item--active {
    border-bottom: 0.5rem solid $primary-color-white;
  }

  &__nav-item {
    font-size: 1.4rem;
    height: 2.2rem;
    font-family: NunitoSansBold;
    font-weight: 600;
    height: 100%;
    min-height: 5vh;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 1rem 0 0.5rem 0;

    @include tablet-and-desktop {
      width: 30%;
      height: 100%;
      padding-top: 5rem;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $primary-color-white;
    display: flex;
    justify-content: center;
  }
}
