@use './partials/variables.scss' as *;
@use './partials/fonts.scss' as *;
@use './partials/mixins.scss' as *;
@use './partials/resets.scss' as *;

.header {
  background-color: $primary-color-black;
  color: $primary-color-white;
  display: flex;
  flex-direction: column;

  &__title {
    align-self: center;
    @mixin mobile__header {
      @content;
    }
  }

  &__nav-bar {
    display: flex;
    justify-content: space-evenly;
  }

  &__nav-item {
    @mixin mobile__sub-header {
      @content;
    }
  }
}

.hero-page {
  &__title {
    @mixin mobile__header {
      @content;
    }
  }
}

.about-section {
  &__title {
    @mixin mobile__header {
      @content;
    }
  }

  &__text {
    @mixin mobile__copy {
      @content;
    }
  }

  &__subheading {
    @mixin mobile__sub-header {
      @content;
    }
  }
}

.photo-gallery {
  &__title {
    @mixin mobile__header {
      @content;
    }

    &__image-container {
    }
    &__image-item {
    }
  }
}

.footer {
  &__title {
    @mixin mobile__header {
      @content;
    }
  }

  &__sub-title {
    @mixin mobile__sub-header {
      @content;
    }
  }

  &__text {
    @mixin mobile__copy {
      @content;
    }
  }
}
