@use './partials/variables.scss' as *;
@use './partials/fonts.scss' as *;
@use './partials/resets.scss' as *;
@use './partials/mixins.scss' as *;

// The hero page background height/width needs looking at
// Hero page title's font characteristics don't respond to my css
// Make line heights consistent
// max width for desktop

.hero-page {
  width: 100%;
  background-image: url('../assets/images/hero-bio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba($color: $primary-color-black, $alpha: 0.5);
  background-blend-mode: overlay;
  height: 30vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include tablet-and-desktop {
    height: 60vh;
  }

  &__wrapper {
    @include tablet-and-desktop {
      max-width: 1280px;
      margin: auto;
      width: 100%;
    }
  }

  &__title {
    font-size: 2.4rem;
    height: 3.2rem;
    font-family: NunitoSansBold;
    color: $primary-color-white;
    padding: 0 1.6rem;

    @include tablet-and-desktop {
      font-size: 6rem;
      font-weight: 700;
      line-height: 6.8rem;
    }
  }
}

.about-section {
  padding: 0 1.6rem;
  background-color: $primary-color-white;

  &__wrapper {
    max-width: 1280px;
    margin: auto;
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: NunitoSansBold;

    @include tablet-and-desktop {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.4rem;
      padding-left: 4.8rem;
    }
  }
  &__text-wrapper {
    @include tablet-and-desktop {
      width: 70%;
      padding-left: 9.6rem;
    }
  }

  &__image {
    width: 100%;
    @include tablet-and-desktop {
      width: 75%;
      padding-left: 9.6rem;
    }
  }

  &__text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-family: 'NunitoSansRegular';

    @include tablet-and-desktop {
      width: 45%;
      display: inline-block;
      font-size: 1.4rem;
      padding-right: 1rem;
      line-height: 2.2rem;
    }

    &--emphasis {
      // I increased the font size as I felt the style guide didn't match the mockup
      font-size: 2rem;
      line-height: 1.8rem;
      font-family: 'NunitoSansBold';
      font-weight: 700;

      @include tablet-and-desktop {
        font-size: 1.4rem;
      }
    }
  }

  &__subheading {
    // I increased the font-size and line-height as I felt the values provided by the style guide were too small versus the mockup
    font-size: 2rem;
    line-height: 3.2rem;
    font-family: 'NunitoSansBold';
    font-weight: 600;

    @include tablet-and-desktop {
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: 500;
    }
  }
}

.photo-gallery {
  background-color: $secondary-color-alabaster;
  padding: 0 1.6rem;

  @include tablet-and-desktop {
    padding: 0rem 3.6rem;
  }

  &__wrapper {
    max-width: 1280px;
    margin: auto;

    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2.4rem;
    height: 3.2rem;
    font-family: 'NunitoSansBold';

    @include tablet-and-desktop {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.4rem;
    }
  }
  &__image-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @include tablet-and-desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__image-item {
    margin-bottom: 1.6rem;

    @include tablet-and-desktop {
      width: 32%;
    }
  }
}

.comments {
  color: blue;

  &__all-text {
    display: flex;
    flex-direction: column;
  }

  &__title-and-date {
    display: flex;
  }

  &__title {
    font-size: 6rem;
  }

  &__list {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  &__name {
    font-size: 3rem;
  }
  &__date {
    font-weight: bold;
  }
  &__text {
    text-decoration: underline;
    border-bottom: 1rem solid black;
  }

  &__form {
    display: flex;
    flex-direction: row;
  }

  &__form-label {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__form-left {
    width: 20vw;
  }

  &__form-right {
    width: 80vw;
  }

  &__form-item {
    display: flex;
    flex-direction: column;
  }

  &__form-label {
    color: $primary-color-silver;
  }

  &__form-input {
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: $primary-color-black;
    background-color: $secondary-color-alabaster;

    ::placeholder {
      color: $primary-color-black;
    }
  }

  &__form-button {
    background-color: $primary-color-black;
    color: $primary-color-white;
    width: 60vw;
    height: 15vh;
    border-radius: 0.4rem;
  }
}
